article {
  background-color: #221f20;
  border: 1px solid #56C0D4;
  color: #56C0D4;
  font-weight: 200;
  width: 20%;
  height: 30%;
  border-radius: 12px;
  margin: 10px;
  font-size: 1em; }

.favorite-button {
  border-radius: 12px;
  background-color: #221f20; }
