.sidebar {
  width: 30%;
  color: #56C0D4;
  background-color: black;
  overflow: hidden; }

.scrollContainer {
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 150%;
  text-align: justify;
  margin: 20px; }

.scroll {
  top: 9999px;
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 60s linear; }

@keyframes scroll {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0); }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px); } }
