.sidebar {
  width: 30%;
  color: #56C0D4;
  background-color: black;
  overflow: hidden; }

.scrollContainer {
  justify-content: center;
  width: 90%;
  margin: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 150%;
  text-align: justify; }

.scroll {
  top: 100%;
  animation: scroller 30s linear infinite; }

@keyframes scroll {
  0% {
    top: 100%; }
  7% {
    top: 100%; }
  100% {
    top: -250%; } }
