.sidebar {
  width: 30%;
  color: #56C0D4;
  background-color: black;
  overflow: hidden;
}

.scrollContainer {
  justify-content: center;
  width: 90%;
  margin: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 150%;
  text-align: justify;
}

.scroll {
  position: absolute;
  animation: scroll 100s linear 4s infinite;
  width: 25%;
}


@keyframes scroll {
    0% {
      top: 100%;
    }
    100% {
      top: 0%;
    }
}